<a id="home" class="akey"></a>
<section>
    <div class="row auth-height full-height-vh m-0 grid-hover" [ngClass]="(lang=='en')?'background-img-en':'background-img-es'">
        <div class="container mt-5">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <img *ngIf="lang=='en'" src="assets/img/home/patients2.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<div style="position: relative;" class="hidepanelmd">
    <div class="" style="left:150px;width: auto;max-width: auto;top: -138px;position: absolute;">
        <img src="assets/img/home/puntos1.png" alt="" class="">
    </div>
</div>


<div>
    <!--class="col-sm-12 mt-0 mb-0 card card-block mx-auto pr-0 pl-0 padding-0" style="z-index: -1 !important;"-->
    <div class="card-body no-padding pt-0" style="overflow:hidden;">
        <div class="row pt-5 pb-5">
            <div class="row offset-lg-4 col-lg-4 margin-0 mb-4 mt-4 text-center">
                <div class='col-md-12 pb-3'>
                    <h4 class="text-bold-500 mt-4"><strong>{{'f29.t1.1' | translate }}</strong></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="m-2">{{'f29.t1.2' | translate }}</h4>
                </div>
            </div>
            <div class="row col-md-12 mt-5 mb-5 text-center">
                <div class="col-lg-12">
                    <img src="assets/img/home/down.png" alt="" class="">
                </div>

            </div>
        </div>
        <div style="position: relative;" class="hidepanelmd">
            <div class="" style="right:70px;width: auto;max-width: auto;top: -95px;position: absolute;z-index: 1">
                <img src="assets/img/home/puntos2.png" alt="" class="">
            </div>
        </div>
        <div class="row pt-5 pb-5 m--50"
            style="background: #FBF6FC; transform:rotate(2deg);position: relative;">
            <div class="row offset-lg-2 col-lg-8 mb-4 margin-0 text-center m-50" style="transform:rotate(-2deg);">
                <div class="col-lg-12">
                    <h1 class="text-bold-500 mt-4 pb-3">{{'f29.t2.1' | translate }} <span class="primary"
                            style="font-size: inherit !important;"><strong>{{'f29.t2.2' | translate }}</strong></span></h1>
                    <h4 class="text-bold-500 mt-4 pb-3"><strong>{{'f29.t2.3' | translate }}</strong></h4>
                    <div class="row mt-3">

                        <div class="col-md-4 mt-2">
                            <span class="">{{'f29.t2.4.1.1' | translate }}</span>
                            <div class="card p-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="mt-3 mb-3" src="assets/img/home/Logo_DX29.png" alt=""
                                            style="max-width: 40%;">
                                        <h5 class="text-bold-500 mt-2">{{'f29.t2.4.1.2' | translate }}</h5>
                                        <p class="font-size-sm">{{'f29.t2.4.1.3' | translate }}</p>
                                        <p class="font-size-sm">{{'f29.t2.4.1.4' | translate }}</p>

                                        <a href="https://dx29.ai/" target="_blank" class="btn btn-dark round mt-3" title="{{'f29.Know more' | translate }}">
                                            <strong class="menu-title">{{'f29.Know more' | translate }}</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <span class="">{{'f29.t2.4.2.1' | translate }}</span>
                            <div class="card p-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="mt-4 mb-3" src="assets/img/home/healthdata29.png" alt="" style="width: inherit;">
                                        <h5 class="text-bold-500 mt-2">{{'f29.t2.4.2.2' | translate }}</h5>
                                        <p class="font-size-sm">{{'f29.t2.4.2.3' | translate }}</p>
                                        <p class="font-size-sm">{{'f29.t2.4.2.4' | translate }}</p>
                                        <a href="https://www.healthdata29.org/" target="_blank" style="background-color: #4942FE;border-color: #4942FE;"
                                            class="btn btn-dark round mt-3" title="{{'f29.Know more' | translate }}">
                                            <strong class="menu-title">{{'f29.Know more' | translate }}</strong>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <span class="">{{'f29.t2.4.3.1' | translate }}</span>
                            <div class="card p-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="mt-3 mb-3" src="assets/img/home/Logo-JHED.png" alt=""
                                            style="max-width: 80%;">
                                        <h5 class="text-bold-500 mt-2">{{'f29.t2.4.3.2' | translate }}</h5>
                                        <p class="font-size-sm">{{'f29.t2.4.3.3' | translate }}</p>
                                        <p class="font-size-sm">{{'f29.t2.4.3.4' | translate }}</p>
                                        <a href="https://dx29.ai/juntoshaciaeldiagnostico" target="_blank"
                                            class="btn btn-dark round mt-3" title="{{'f29.Know more' | translate }}">
                                            <strong class="menu-title">{{'f29.Know more' | translate }}</strong>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="thefoundation" class="akey"></a>
        <div class="row pt-5 offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
            <div class="col-md-12 pt-5 pb-5 img-cubo">
                <h1 class="text-bold-500 mt-4 pb-3">{{'f29.t3.1.1' | translate }} <span class="primary"
                        style="font-size: inherit !important;"><strong>{{'f29.t3.1.2' | translate }}</strong></span></h1>
                <h4 class="text-bold-500 mt-4 pb-3"><strong>{{'f29.t3.1.3' | translate }}</strong></h4>
            </div>


        </div>
        <div class="row pb-3 offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
            <div class="offset-md-1 col-md-4">
                <img class="" src="assets/img/home/somos.png" alt="">
            </div>
            <div class="col-md-7">
                <div class="text-left mt-5">
                    <h2 class="mb-0">{{'f29.t3.2.1' | translate }} /</h2>
                    <h2 style="color: #FF02FF;"><strong>{{'f29.t3.2.2' | translate }}</strong></h2>
                    <p>{{'f29.t3.2.3' | translate }}</p>
                    <div style="border-top: 5px solid #F84239;width: 50px;"></div>
                </div>
            </div>
        </div>
        <div class="row pb-3 offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
            <div class="offset-md-1 col-md-7">
                <div class="text-left mt-5">
                    <h2 class="mb-0">{{'f29.t3.3.1' | translate }} /</h2>
                    <h2 style="color: #2EF87C;"><strong>{{'f29.t3.3.2' | translate }}</strong>
                    </h2>
                    <div style="border-top: 5px solid #F84239;width: 50px;"></div>
                </div>
            </div>
            <div class=" col-md-4">
                <img class="" src="assets/img/home/trabajamos.png" alt="">
            </div>
        </div>
        <div class="row pb-3 offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
            <div class="offset-md-1 col-md-4">
                <img class="" src="assets/img/home/nuevo-modelo.png" alt="">
            </div>
            <div class="col-md-7">
                <div class="text-left mt-5">
                    <h2 class="mb-0">{{'f29.t3.4.1' | translate }} /</h2>
                    <h2 style="color: #05E7E7;"><strong>{{'f29.t3.4.2' | translate }}</strong></h2>
                    <p>{{'f29.t3.4.3' | translate }}</p>
                    <div style="border-top: 5px solid #F84239;width: 50px;"></div>
                </div>
            </div>
        </div>
        <div class="row mb-5" style="background: #F5FCE5; position: relative;">
            <div class="elementor-background-overlay"></div>
            <div class="elementor-shape elementor-shape-top" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
                </svg>
            </div>
            <div class="elementor-shape elementor-shape-bottom" data-negative="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
                </svg>
            </div>
            <div class="elementor-container">
                <div class="col-lg-6 elementor-column hidepanellg">
                    <div class="elementor-background-overlay"></div>
                    <div class="img-nino"></div>
                </div>
                <div class="col-lg-6">
                    <div class="mt-5 mb-5 pb-5 pt-5 center-elements">
                        <img *ngIf="lang=='es'" class="" style="width: 70%;" src="assets/img/home/quelos.png" alt="">
                        <img *ngIf="lang!='es'" class="" style="width: 70%;" src="assets/img/home/let-1.png" alt="">
                        <div class="mt-5 text-left offset-md-2 col-md-8">
                            <p>{{'f29.t4.1' | translate }}</p>
                            <p>{{'f29.t4.2' | translate }}</p>
                            <p>{{'f29.t4.3' | translate }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="row mb-5" style="position: relative;display: flex;">
            <div class="offset-lg-1 col-lg-10 elementor-container" style="border-radius: 10px 0px 0px 10px;">
                <div class="col-lg-6 p-0 elementor-column">
                    <div class="img-astro">
                        <div class="elementor-background-overlayastro" style="background-color: #000000;opacity: 0.13;border-radius: 10px 0px 0px 10px;"></div>
                    </div>
                </div>
                <div class="col-lg-6" style="background-color: #E9453F;border-radius: 0px 10px 10px 0px;">
                    <div class="mt-5 mb-5 pb-5 pt-5 center-elements white">
                        <div class="text-left offset-md-2 col-md-8">
                            <h2 class="text-bold-500">{{'f29.t5.1' | translate }}</h2>
                        </div>
                        <div class="mt-3 text-left offset-md-2 col-md-8">
                            <h4>{{'f29.t5.2' | translate }}</h4>
                            <h4 class="text-bold-500">{{'f29.t5.3' | translate }}</h4>
                            <p><a class="nav-link btn btn-white round text-bold-500 mt-3" style="width: 220px;" routerLink="/donate">
                                <span>{{'f29.t5.4' | translate }}</span>
                              </a>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <a id="stepnews" class="akey"></a>
        <div class="row mb-5">
            <div class="col-md-12 pr-0 pl-0">
                <div class="img-noticias">
                    <div class="center-elements">
                        <div id="outer" class="container">
                            <div id="inner">
                                <div class="" style="left: 125px;position: absolute;" class="hidepanelmd">
                                    <img src="assets/img/home/icon2.png" alt="" class="">
                                  </div>
                                <h2 class="text-bold-500">{{'f29.t6.1' | translate }}</h2>
                                <h2 class="text-bold-500"><strong>{{'f29.t6.2' | translate }}</strong></h2>
                            </div>
                          </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: -137px;margin-bottom: 0px;">
                <div class="row center-elements">
                    <div class="offset-lg-1 col-lg-10">
                        <div class="row">
                            <div class="col-md-4 text-left mb-5" *ngFor="let new of news; let i=index">
                                <img [src]="new.img"  alt="" class="imageclass pointer" [routerLink]="['/news/' + new.title, new.id]">
                                <p class="text-bold-500 mt-2 pointer" [routerLink]="['/news/' + new.title, new.id]"><strong>{{new.title}}</strong></p>
                                <p class="text-muted">{{new.date}}</p>
                                <p>{{new.resume}}</p>
                                <a [routerLink]="['/news/' + new.title, new.id]">{{'f29.t6.3' | translate }} » </a>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>

        <a id="ecosystem" class="akey"></a>
        <div class="row pt-5 pb-5 m--70"
            style="background: #FBF6FC; transform:rotate(2deg);position: relative;">
            <div class="m-70 row offset-lg-1 col-lg-10 mb-4 text-center" style="transform:rotate(-2deg);">
                <div class="col-md-12 pt-5 pb-5 img-cubo">
                    <h1 class="text-bold-500 mt-4 pb-3"><span class="primary"
                            style="font-size: inherit !important;"><strong>{{'f29.t7.1' | translate }}</strong></span></h1>
                    <h4 class="text-bold-500 mt-4 pb-3"><strong>{{'f29.t7.2' | translate }}</strong></h4>
                </div>

                <div class="col-12 justify-content-center center-elements col-md-12 mt-5">
                    <h4 class="text-bold-500 mt-4 pb-3"><strong>{{'f29.t7.3' | translate }}</strong></h4>
                    <div class="row center-elements pad-logos">
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/header-logo.png'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/badge.jpg'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/paris-call.png'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/sick.jpg'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/monarch.jpg'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/nhs.jpg'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/nih.jpg'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/et.jpg'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/1280px-CatSalut.svg_-1024x446.png'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/osa.jpg'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/ui-idiscc.png'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/ie.jpg'>
                      </div>
                      <div class="col-6 col-sm-3 mb-3 p-4">
                        <img class="img-responsive" src='assets/img/home/institutions/WG-Lab1.png'>
                      </div>
                    </div>

                    <h4 class="text-bold-500 mt-5 pb-3"><strong>{{'f29.t7.4' | translate }}</strong></h4>
                    <div class="row center-elements pad-logos">
                        <div class="col-6 col-sm-4 mb-3 p-4">
                          <img class="img-responsive" src='assets/img/home/associations/parent.jpg'>
                        </div>
                        <div class="col-6 col-sm-4 mb-3 p-4">
                          <img class="img-responsive" src='assets/img/home/associations/fede.jpg'>
                        </div>
                        <div class="col-6 col-sm-4 mb-3 p-4">
                          <img class="img-responsive" src='assets/img/home/associations/logo_sanfilippo.png'>
                        </div>
                      </div>

                      <h4 class="text-bold-500 mt-5 pb-3"><strong>{{'f29.t7.5' | translate }}</strong></h4>
                      <div class="row center-elements pad-logos">
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/Microsoft-Logo.png'>
                          </div>
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/takeda.jpg'>
                          </div>
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/gw.jpg'>
                          </div>
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/ucb.jpg'>
                          </div>
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/garri.jpg'>
                          </div>
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/ilitia-1.png'>
                          </div>
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/playconcepts.jpg'>
                          </div>
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/design.jpg'>
                          </div>
                          <div class="col-6 offset-md-3 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/illumina-logo.png'>
                          </div>
                          <div class="col-6 col-sm-3 mb-3 p-4">
                            <img class="img-responsive" src='assets/img/home/allies/barra.jpg'>
                          </div>
                        </div>

                  </div>
            </div>
        </div>

        <a id="awards" class="akey"></a>
        <div class="row pt-5 offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
            <div class="col-md-12 pt-5 pb-5 img-cubo">
                <h1 class="text-bold-500 mt-4 pb-3"><span class="primary"
                        style="font-size: inherit !important;"><strong>{{'f29.t8.1' | translate }}</strong></span></h1>
                <h4 class="text-bold-500 mt-4 pb-3"><strong>{{'f29.t8.2' | translate }} <span class="d-block">{{'f29.t8.3' | translate }}</span></strong></h4>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-3 p-4">
                        <img class="" style="max-width: 200px;" src='assets/img/home/awards/premio-AEPD_transparente.png'>
                        <h3 class="text-bold-500 mt-3 mb-0">AEPD</h3>
                        <p class="text-bold-500 mb-0"><strong>{{'f29.t9.1.1' | translate }}</strong></p>
                        <p>{{'f29.t9.1.2' | translate }}</p>
                      </div>
                      <div class="col-md-6 mb-3 p-4">
                        <img class="" style="max-width: 200px;" src='assets/img/home/awards/Premio-AMETIC-transparente.png'>
                        <h3 class="text-bold-500 mt-3 mb-0">Ametic</h3>
                        <p class="text-bold-500 mb-0"><strong>Artificial Intelligence Summit</strong></p>
                        <p>R+D+I Ametic IA Award 2021</p>
                      </div>
                </div>
                

              </div>

        </div>
    </div>
</div>