<div style="font-size: 12px;">
  <a id="initpos"></a>
  <section>
    <div class="modal-header">
      <h4 class="modal-title">{{'terms.title' | translate }}</h4>
    </div>
    <div class="modal-body card">
      <p>{{'terms.p1' | translate }}</p>
      <h6 class="pt-2 text-bold-500">{{'terms.t2' | translate }}</h6>
      <p>{{'terms.p2.1' | translate }}</p>
      <p>{{'terms.p2.2' | translate }}</p>
      <h6 class="pt-2 text-bold-500">{{'terms.t3' | translate }}</h6>
      <p>{{'terms.p3.1' | translate }}</p>
      <h6 class="pt-2 text-bold-500">{{'terms.t4' | translate }}</h6>
      <p>{{'terms.p4.1' | translate }}</p>
      <h6 class="pt-2 text-bold-500">{{'terms.t5' | translate }}</h6>
      <p>{{'terms.p5.1' | translate }}</p>
      <h6 class="pt-2 text-bold-500">{{'terms.t6' | translate }}</h6>
      <p>{{'terms.p6.1' | translate }}</p>
      <h6 class="pt-2 text-bold-500">{{'terms.t7' | translate }}</h6>
      <p>{{'terms.p7.1' | translate }}</p>
      <p>{{'terms.p7.2' | translate }}</p>
    </div>
  </section>
</div>