p {
  font-size: 1.1rem;
}

.background-img{
  background-color: #FFFFFF;
  background-image: url("assets/img/home/fondodonate.webp");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: auto;
}


@media ( max-width: 991px ){
    
  .panelDonation{
    margin-left: 15px;
  }
}


  @media ( max-width: 449px ){
    
    .card-title{
      font-size: 1.2rem;
    }
    p {
      font-size: 0.9rem;
    }

    .mt-3{
      margin-top: 1rem !important;
    }

    .py-3{
      padding-top: 1rem !important;
    }
  }

  
  