<div class="row pt-5  pb-5 m--70"
            style="position: relative;">
            <div class="m-70 row offset-lg-1 col-lg-10 mb-4 text-center">
                <div class="col-md-12 pb-5">
                    <h1 class="text-bold-500 pb-3"><span class="primary"
                            style="font-size: inherit !important;"><strong>{{'f29.t7.1' | translate }}</strong></span></h1>
                    <h4 class="text-bold-500 mt-4 pb-3"><strong>{{'f29.t7.2' | translate }}</strong></h4>
                </div>

                <div class="col-12 justify-content-center center-elements col-md-12 mt-5">
                    <h4 class="text-bold-500 mt-4 pb-3"><strong>{{'f29.t7.3' | translate }}</strong></h4>
                    <div class="row center-elements pad-logos">
                        <div class="col-6 col-sm-4 mb-3 p-4">
                            <img class="img-responsive" alt="European Medicines Agency (EMA)" src='assets/img/home/institutions/Logo_ema.webp'>
                          </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo global commission" src='assets/img/home/institutions/header-logo.webp'>
                      </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo nhs" src='assets/img/home/institutions/nhs.webp'>
                      </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo barrabes" src='assets/img/home/allies/sermas.webp'>
                      </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo CatSalut" src='assets/img/home/institutions/CatSalut.webp'>
                      </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo osakidetza" src='assets/img/home/institutions/osa.webp'>
                      </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo monarch" src='assets/img/home/institutions/monarch.webp' style="max-height: 60px !important;">
                      </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo idiscc" src='assets/img/home/institutions/idiscc.webp'>
                      </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo ie" src='assets/img/home/institutions/ie.webp' style="max-height: 100% !important;">
                      </div>
                      <div class="offset-sm-2 col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo dihbio" src='assets/img/home/institutions/dihbio.webp'>
                      </div>
                      <div class="col-6 col-sm-4 mb-3 p-4">
                        <img class="img-responsive" alt="logo st" src='assets/img/home/institutions/et.webp'>
                      </div>
                    </div>

                    <h4 class="text-bold-500 mt-5 pb-3"><strong>{{'f29.t7.4' | translate }}</strong></h4>
                    <div class="row center-elements pad-logos">
                        <div class="col-6 offset-md-4 col-sm-4 mb-3 p-4">
                          <img class="img-responsive" alt="logo duchenne"  src='assets/img/home/associations/parent.webp'>
                        </div>
                      </div>

                      <h4 class="text-bold-500 mt-5 pb-3"><strong>{{'f29.t7.5' | translate }}</strong></h4>
                      <div class="row center-elements pad-logos">
                          <div class="col-6 col-sm-4 mb-3 p-4">
                            <img class="img-responsive" alt="logo Microsoft" src='assets/img/home/allies/Microsoft-Logo.webp'>
                          </div>
                          <div class="col-6 col-sm-4 mb-3 p-4">
                            <img class="img-responsive" alt="logo takeda" src='assets/img/home/allies/takeda.webp'>
                          </div>
                          <div class="col-6 col-sm-4 mb-3 p-4">
                            <img class="img-responsive" alt="logo KyowaKirin" src='assets/img/home/allies/KyowaKirin.webp'>
                          </div>
                          <div class="offset-sm-2 col-6 col-sm-4 mb-3 p-4">
                            <img class="img-responsive" alt="logo garrigues" src='assets/img/home/allies/garrigues.webp'>
                          </div>
                          <div class="col-6 col-sm-4 mb-3 p-4">
                            <img class="img-responsive" alt="logo barrabes" src='assets/img/home/allies/barra.webp'>
                          </div>
                        </div>

                  </div>
            </div>
        </div>