<div class="pt-5 offset-lg-1 col-lg-10 mb-4 margin-0 text-center">
    <div class="col-md-12 pb-5">
        <h1 class="text-bold-500 pb-3"><span class="primary"
                style="font-size: inherit !important;"><strong>{{'f29.t8.1' | translate }}</strong></span></h1>
        <h4 class="text-bold-500 mt-4 pb-3"><strong>{{'f29.t8.2' | translate }} <span class="d-block">{{'f29.t8.3' | translate }}</span></strong></h4>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 mb-3 p-4">
                <img class="" style="max-width: 200px;" alt="premio-AEPD" src='assets/img/home/awards/premio-AEPD_transparente.webp'>
                <h3 class="text-bold-500 mt-3 mb-0">AEPD</h3>
                <p class="text-bold-500 mb-0"><strong>{{'f29.t9.1.1' | translate }}</strong></p>
                <p>{{'f29.t9.1.2' | translate }}</p>
              </div>
              <div class="col-md-6 mb-3 p-4">
                <img class="" style="max-width: 200px;" alt="Premio-AMETIC" src='assets/img/home/awards/Premio-AMETIC-transparente.webp'>
                <h3 class="text-bold-500 mt-3 mb-0">Ametic</h3>
                <p class="text-bold-500 mb-0"><strong>Artificial Intelligence Summit</strong></p>
                <p>R+D+I Ametic IA Award 2021</p>
              </div>
        </div>
      </div>
</div>