<div class="card row">
  <a id="initpos"></a>
  <section class="offset-md-2 col-md-8">
    <div class="modal-header mt-2">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
    </div>
    <div class="modal-body">
      <h4 class="pt-2 text-bold-500">{{'policy.CONTENT' | translate }}</h4>
            <h6 class="pt-2 text-bold-500">{{'policy.t1.1' | translate }}</h6>
            <p>{{'policy.t1.2' | translate }}</p>
            <h6 class="pt-2 text-bold-500">{{'policy.t2.1' | translate }}</h6>
            <p>{{'policy.t2.2' | translate }}</p>
            <p>{{'policy.t2.3' | translate }}</p>
            <h6 class="pt-2 text-bold-500">{{'policy.t3.1' | translate }}</h6>
            <p>{{'policy.t3.2' | translate }}</p>
            <h6 class="pt-2 text-bold-500">{{'policy.t4.1' | translate }}</h6>
            <p>{{'policy.t4.2' | translate }}</p>
            <h6 class="pt-2 text-bold-500">{{'policy.t5.1' | translate }}</h6>
            <p>{{'policy.t5.2' | translate }}</p>
            <h6 class="pt-2 text-bold-500">{{'policy.t6.1' | translate }}</h6>
            <p>{{'policy.t6.2' | translate }}</p>
            <h6 class="pt-2 text-bold-500">{{'policy.t7.1' | translate }}</h6>
            <p>{{'policy.t7.2' | translate }}</p>
            <h6 class="pt-2 text-bold-500">{{'policy.t8.1' | translate }}</h6>
            <p>{{'policy.t8.2.1' | translate }}</p>
            <p>{{'policy.t8.2.2' | translate }}</p>
            <p>{{'policy.t8.2.3' | translate }}</p>
            <p>****************************************</p>
            <p>{{'policy.t9.1' | translate }}</p>
            <p>{{'policy.t9.2' | translate }}</p>
            <p>{{'policy.t9.3' | translate }}</p>

            <p [innerHTML]="'policy.p1' | translate "></p>
            <p [innerHTML]="'policy.p2' | translate "></p>
            <p [innerHTML]="'policy.p3' | translate "></p>
            <p [innerHTML]="'policy.p4' | translate "></p>
            <p [innerHTML]="'policy.p5' | translate "></p>
            <p [innerHTML]="'policy.p6' | translate "></p>
            <p [innerHTML]="'policy.p7' | translate "></p>
            <p [innerHTML]="'policy.p8' | translate "></p>
            <p [innerHTML]="'policy.p9' | translate "></p>
            <p [innerHTML]="'policy.p10' | translate "></p>
            <p>{{'policy.p11' | translate }}</p>
            <p>{{'policy.p12' | translate }}</p>
    </div>
  </section>
</div>