<div class="container-main">
    <div class="container-home">
        <div class="row">
            <div class="offset-md-2 col-md-8 mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <img class="round img-fluid mt-1" src="assets/img/home/lab29.webp" alt="lab29">
                    </div>
                    <div class="col-md-6 text-lab29">
                        <h1 class="text-bold-500 pb-1">Lab <span class="primary" style="font-size: inherit !important;"><strong>29</strong></span></h1>
                        <h4 class="text-bold-500 pb-3"><strong>{{'f29.tlab.0' | translate }}</strong></h4>
                        <p>
                            {{'f29.tlab.1' | translate }}
                        </p>
                        <p>
                            {{'f29.tlab.2' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8  mb-1 mt-5">
                <h5 class="text-bold-500 mt-2">{{'f29.Discover our latest experiments' | translate }}</h5>
                <p>{{'f29.labdesc' | translate }}</p>
            </div>
        </div>
        <h4 class="title-home text-center text-bold-700 mb-1 mt-5">{{'f29.Our Research Projects' | translate }}</h4>
        <div class="row col-lg-10 mb-4 margin-0 text-center m-50">
            <div class="col-lg-12">
                <div class="row row-home w-100">
                    <div class="col-md-6 mt-2">
                        <div class="card p-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="mt-3 mb-3" src="assets/img/home/logo-Dx29.png" alt="Dxgpt"
                                        style="max-width: 40%;">
                                    <h5 class="text-bold-500 mt-2">{{'f29.p1.t' | translate }}</h5>
                                    <p class="font-size-sm">{{'f29.p1.d' | translate }}</p>
                                    <a href="https://dxgpt.app/" target="_blank" class="btn btn-primary round mt-3" title="{{'f29.Test it' | translate }}">
                                        <strong class="menu-title">{{'f29.Test it' | translate }}</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="card p-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="mt-2 mb-3" src="assets/img/home/logo-nav29.png" alt="nav29"
                                        style="max-width: 40%;">
                                        <h5 class="text-bold-500 mt-2">{{'f29.p2.t' | translate }}</h5>
                                        <p class="font-size-sm">{{'f29.p2.d' | translate }}</p>
                                    <a href="https://nav29.org/" target="_blank" class="btn btn-primary round mt-3" title="{{'f29.Test it' | translate }}">
                                        <strong class="menu-title">{{'f29.Test it' | translate }}</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-2">
                        <div class="card p-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="mt-3 mb-3" src="https://nav29lite.azurewebsites.net/assets/img/logo-lg-white.png" alt="Dxgpt"
                                        style="max-width: 40%;">
                                        <h5 class="text-bold-500 mt-2">{{'f29.p3.t' | translate }}</h5>
                                        <p class="font-size-sm">{{'f29.p3.d' | translate }}</p>
                                    <a href="https://nav29lite.azurewebsites.net" target="_blank" class="btn btn-primary round mt-3" title="{{'f29.Test it' | translate }}">
                                        <strong class="menu-title">{{'f29.Test it' | translate }}</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="card p-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="mt-2 mb-3" src="assets/img/book.webp" alt="nav29"
                                        style="max-width: 20%;">
                                        <h5 class="text-bold-500 mt-2">{{'f29.p4.t' | translate }}</h5>
                                        <p class="font-size-sm">{{'f29.p4.d' | translate }}</p>
                                    <a routerLink="/libroenfermedadesraras" class="btn btn-primary round mt-3" title="{{'f29.Test it' | translate }}">
                                        <strong class="menu-title">{{'f29.Test it' | translate }}</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <h4 class="title-home text-center text-bold-700 mb-1 mt-3">{{'f29.s1.t' | translate }}</h4>
        <div class="row col-md-6 mb-1 margin-0 text-center m-50">
            <div class="col-lg-12">
                <p>{{'f29.s1.d' | translate }}</p>
            </div>
        </div>
        <h4 class="title-home text-center text-bold-700 mb-1 mt-3">{{'f29.s2.t' | translate }}</h4>
        <div class="row col-md-6 mb-1 margin-0 text-center m-50">
            <div class="col-lg-12">
                <p>{{'f29.s2.d' | translate }}</p>
            </div>
        </div>
        <h4 class="title-home text-center text-bold-700 mb-1 mt-3">{{'f29.s3.t' | translate }}</h4>
        <div class="row col-md-6 mb-1 margin-0 text-center m-50">
            <div class="col-lg-12">
                <p>{{'f29.s3.d' | translate }}</p>
            </div>
        </div>
        <h4 class="title-home text-center text-bold-700 mb-1 mt-3">{{'f29.s4.t' | translate }}</h4>
        <div class="row col-md-6 mb-1 margin-0 text-center m-50">
            <div class="col-lg-12">
                <p>{{'f29.s4.d1' | translate }}</p>
                <p>{{'f29.s4.d2' | translate }}</p>
                <p>{{'f29.s4.d3' | translate }}</p>
            </div>
        </div>
        <h4 class="title-home text-center text-bold-700 mb-1 mt-3">{{'f29.s5.t' | translate }}</h4>
        <div class="row col-md-6 mb-1 margin-0 text-center m-50">
            <div class="col-lg-12">
                <p>{{'f29.s5.d1' | translate }}</p>
                <p>{{'f29.s5.d2' | translate }}</p>
                <p>{{'f29.s5.d3' | translate }}</p>
            </div>
        </div>
        <h4 class="title-home text-center text-bold-700 mb-1 mt-3">{{'f29.s6.t' | translate }}</h4>
        <div class="row col-md-6 mb-4 margin-0 text-center m-50">
            <div class="col-lg-12">
                <p>{{'f29.s6.d' | translate }}</p>
            </div>
        </div>
    </div>
</div>