<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded damemarger custom-navbar">
    <div class="container-fluid">
      <div>
        <button type="button" class="white mt-2 d-lg-none navbar-toggle float-left" id="menu" title="menu" data-toggle="collapse" (click)="toggleSidebar()">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
          <span class="ml-2 navbar-header-logos">
            <img class="logo-img pointer" alt="logo foundation29" src='assets/img/logo-f29-white.webp' (click)="goTo('home');"/>            
          </span>

      </div>
      <div class="d-none d-lg-block">
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-r-0">
                <li class="nav-item mr-2">
                  <a class="nav-link" href="javascript:;" [ngClass]="(!isDxgptPage)?'white':'white text-bold-500'" (click)="goTo('dxgpt');">
                    <span>DxGPT</span>
                  </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="javascript:;" [ngClass]="(!isiniciativesPage)?'white':'white text-bold-500'" (click)="goTo('iniciatives');">
                      <span>{{'f29.Initiatives' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item mr-2">
                  <a class="nav-link" href="javascript:;" [ngClass]="(!isthefoundationPage)?'white':'white text-bold-500'" (click)="goTo('thefoundation');">
                    <span>{{'f29.The Foundation' | translate }}</span>
                  </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="javascript:;" [ngClass]="(!isEcosystemPage)?'white':'white text-bold-500'" (click)="goTo('ecosystem');">
                      <span>{{'f29.Ecosystem' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="javascript:;" [ngClass]="(!isAwardsPage)?'white':'white text-bold-500'" (click)="goTo('awards');">
                      <span>{{'f29.Awards' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="javascript:;" [ngClass]="(!isContactPage)?'white':'white text-bold-500'" (click)="goTo('contact');">
                      <span>{{'f29.Contact' | translate }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-white round mb-0" style="width: 120px;" [ngClass]="(!isDonatePage)?'white':'white text-bold-500'" routerLink="/donate">
                      <span>{{'f29.Donate' | translate }} <em class="ml-1 fa fa-heart"></em></span>
                    </a>
                </li>
              </ul>
          </div>
      </div>
      <div class="d-block d-lg-none" *ngIf="!isDonatePage">
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-r-0">
                <li class="nav-item">
                    <a class="nav-link btn btn-white round mb-0" style="width: 120px;" [ngClass]="(!isDonatePage)?'white':'white text-bold-500'" routerLink="/donate">
                      <span>{{'f29.Donate' | translate }} <em class="ml-1 fa fa-heart"></em></span>
                    </a>
                </li>
              </ul>
          </div>
      </div>
        <div class="navbar-container pl-0">
            <div  id="navbarSupportedContent">
                <ul class="navbar-nav m-r-0">
                    <li class="nav-item mr-2 d-inline" ngbDropdown display="dynamic" placement="bottom-right">
                        <a class="position-relative colorlink" id="dropdownLang" ngbDropdownToggle role="button">
                            <u>{{currentLang}}</u>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownLang" class="dropdownLang">
                            <a *ngFor="let lang of langs" class="dropdown-item py-1 lang" href="javascript:;" (click)="ChangeLanguage(lang.code)">
                                <span>{{lang.name}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar (Header) Ends -->
